.grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: repeat(3, calc(100% / 3));
}

.service {
    display: flex;
    align-items: center;
    align-content: center;
    color: var(--symbol-color);
    font-size: 2.5rem;
}

.service:nth-child(-n + 3) {
    border-bottom: var(--border);
}

.service:nth-child(3n + 1) {
    border-right: var(--border);
}

.service:nth-child(3n) {
    border-left: var(--border);
}

.service:nth-child(n + 7) {
    border-top: var(--border);
}
