/* Grid on Homepage */
.service:nth-child(-n + 3) {
    border-bottom: 1px solid #dadada;
}

.service:nth-child(3n + 1) {
    border-right: 1px solid #dadada;
}

.service:nth-child(3n) {
    border-left: 1px solid #dadada;
}

.service:nth-child(n + 7) {
    border-top: 1px solid #dadada;
}

/* Slider on Form */
.ui-widget.ui-widget-content {
    border: none;
}

.ui-widget-content {
    background: #c5ccdf;
}

.ui-widget-header {
    background: #293f78;
}

.ui-corner-all {
    border-radius: 8px;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: none;
    background: url("https://uploads-ssl.webflow.com/6090e6deeecdc6f86877cfc5/6093cb77dd7fae312f533140_slider-handle.svg");
    width: 68px;
    height: 52px;
    outline: none;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -16px;
    margin-left: -34px;
    cursor: pointer;
}
